<div class="container">
    <div class="row">
        <h1>Save Task</h1>
        <div class="col-md-12 col-lg-6">
            <form class="mt-5" [formGroup]="formTask">
                <div>
                    <label>Todo</label>
                    <input class="form-control input-hover" formControlName="todo">
                    <div *ngIf="fieldIsValid('todo')" class="text-danger">
                        {{generateErrorField('todo')}}
                    </div>
                </div>
                <div class="mt-2">
                    <label>Id user</label>
                    <input class="form-control input-hover" formControlName="idUser">
                    <div *ngIf="fieldIsValid('idUser')" class="text-danger">
                        {{generateErrorField('idUser')}}
                    </div>
                </div>
                <div class="mt-2 text-danger">
                    {{textValidationForm}}
                </div>
                <button class="btn btn-success mt-2" (click)="saveTodo()">Save todo</button>
                
            </form>
        </div>
    </div>
</div>